*.pyc
*.so
*.egg-info
*.whl
build/
dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
docs/_build
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
docs/modules/generated
docs/auto_examples
.idea
.vscode
venv/
