name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v4"
        with:
            python-version: "${{ matrix.python-version }}"
            cache: "pip"
            cache-dependency-path: |
              **/requirements*.txt
      - name: Install dependencies
        run: |
          set -xe
          pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          pip install -r requirements_test.txt
        shell: bash
      - name: Build
        run: |
          set -xe
          python -VV
          python setup.py install
        shell: bash
      - name: Run tests
        run: |
          set -xe
          python -VV
          python -c "import jax; print('jax', jax.__version__)"
          python -c "import jaxlib; print('jaxlib', jaxlib.__version__)"
          pytest tests
        shell: bash
